{% extends 'subLayout.html.twig' %}

{% block customCSS %}
    <style>
        @media print {
            section {
                page-break-after: always;
            }
        }
    </style>
{% endblock %}

{% block content %}
    {% if data|length > 0 %}
            {% for key,val in data %}
                <section id="content">
                    <div class="card">
                        <div class="content-header"></div>
                        <div class="card__body">
                            <div class="card__header">
                                <img src="{{ asset('images') }}//ezimba.gif" height="125" style="margin-left: 0px;" alt="">
                                <p><h1 class="text-center" style="color: black;">Form Absen</h1></p>
                            </div>
                            <div class="card__body">
                                {% if key == 0%}<button type="button" class="btn btn-success hidden-print" style="position: absolute;right: 30px;" onclick="print('printed-area')"><i class="zmdi zmdi-print"></i></button>{% endif %}
                                <div id="printed-area">
                                    <p>kepada</p>
                                    <p><strong>HRD Dept/Atasan Langsung</strong></p><br>
                                    <p>Yang bertanda tangan di bawah ini:</p>
                                    <p>Nama : {{ nama }}</p>
                                    <p>Datang terlambat / keluar lebih awal karena keperluan : {% if val.absen == 1 %}ijin{% elseif val.absen == 2 %}sakit{% else %}dinas{% endif %}</p>
                                    <p>Dari Tanggal : {% if val.tglMulai is defined %}{{ val.tglMulai|date('d m Y') }}{% endif %} sampai tanggal : {% if val.tglAkhir is defined %}{{ val.tglAkhir|date('d m Y') }}{% endif %}</p>
                                    <p>Alasan / Keperluan : {% if val.description is defined %}{{ val.description }}{% endif %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            {% endfor %}
    {% else %}
        <section id="content">
            <div class="card">
                <div class="content-header"></div>
                <div class="card__body">
                    <div class="card__header">
                        <img src="{{ asset('images') }}//ezimba.gif" height="125" style="margin-left: 0px;" alt="">
                        <p><h1 class="text-center" style="color: black;">Form Absen</h1></p>
                    </div>
                    <div class="card__body">
                        <button type="button" class="btn btn-success hidden-print" style="position: absolute;right: 30px;" onclick="print('printed-area')"><i class="zmdi zmdi-print"></i></button>
                        <div id="printed-area">
                            <p>kepada</p>
                            <p><strong>HRD Dept/Atasan Langsung</strong></p><br>
                            <p>Yang bertanda tangan di bawah ini:</p>
                            <p>Nama : {{ nama }}</p>
                            <p>Datang terlambat / keluar lebih awal karena keperluan : -</p>
                            <p>Dari Tanggal : - sampai tanggal : -</p>
                            <p>Alasan / Keperluan : -</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}