{% extends 'subLayout.html.twig' %}

{% block content %}
    <div class="content__header">
        <h2>EDIT PERANGKAT</h2>
    </div>
    <div class="card">
        <div class="card__header">
            <h2>Edit Perangkat Baru
                <small>Masukkan detail perangkat sesuai dengan data yang telah didapat.</small>
            </h2>
        </div>
        <div class="card__body">
            <div class="row">
                <div class="col-md-6">
                    <p></p>
                    <form action="" method="post" class="form-horizontal">
                        <div class="form-group">
                            <label for="device_name">Device Name</label>
                            <input type="text" name="device-name" id="device_name" class="form-control" value="{% if data.deviceName is defined %}{{ data.deviceName }}{% endif %}">
                        </div>
                        <div class="form-group">
                            <label for="serial_number">Serial Number</label>
                            <input type="text" name="sn" id="serial_number" class="form-control" value="{% if data.sn is defined %}{{ data.sn }}{% endif %}">
                        </div>
                        <div class="form-group">
                            <label for="virtual_code">Virtual Code</label>
                            <input type="text" name="vc" id="virtual_code" class="form-control" value="{% if data.vc is defined %}{{ data.vc }}{% endif %}">
                        </div>
                        <div class="form-group">
                            <label for="activation_code">Activation Code</label>
                            <input type="text" name="ac" id="activation_code" class="form-control" value="{% if data.ac is defined %}{{ data.ac }}{% endif %}">
                        </div>
                        <div class="form-group">
                            <label for="virtual_key">Virtual Key</label>
                            <input type="text" name="vkey" id="virtual_key" class="form-control" value="{% if data.vkey is defined %}{{ data.vkey }}{% endif %}">
                        </div>
                        <div class="form-group text-right">
                            <input type="submit" value="Edit Perangkat" class="btn btn-default">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}